<!DOCTYPE html>
<html>

<head>
    <title>Venutopia Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0;">
    <link href="/stylesheets/style.css" rel="stylesheet" >
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/components/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>

<body>

    <div class="login">
        <div class="login-block absolute-center">
            <div class="logo">
                <img src="/images/landing-icon-logo.png">
            </div>
            <div class="button">
                <a href="/auth/facebook" class="btn btn-primary btn-lg"><span class="fa fa-facebook"></span> Login with Facebook</a>
            </div>
            <div class="inner button">
                <a href="/auth/google" class="btn btn-danger btn-lg"><span class="fa fa-google-plus"></span> Login with Google+</a>
            </div>
            <!-- deactivated Twitter for now since it doesn't give email address thru API
            <div class="inner button">
                <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Login with Twitter</a>
            </div>
            -->
        </div>
    </div>

    <!-- Footer -->
    <% include ../footer-min.ejs %>

</body>

</html>