.item{
    border: 1px solid lightgrey;
    /*width: 400px;*/
    padding: 5px;
    margin: 10px  auto 0px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}
.title-wrap{

    margin: 45px 0px 0px 0px;
    background-color: #8a8c8b;
    color: #ffffff;
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,0.1);
    position: relative;
    background-image: url(/images/static-page-title-bg-5be3602dec19e2c23be6325c8706b67e.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    min-width: 510px;

}



#campaign-list{
 min-width: 450px;
}

.page-title-drop {
    margin-top: 36px;
}
.pull-right {
    float: right !important;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.page-title-text {
    display: inline-block;
    font-size: 3em;
    margin: 0;
    font-weight: 100;
    padding: .5em 0;
}
.panel-dark .panel-heading {
    background: #3a3a3a !important;
    color: #f2f2f2 !important;
    min-width: 450px;
}
.panel-body{
    padding-bottom: 0px !important;
    overflow: hidden;
}
.container{
    clear: both;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;



}
.workspace {
    margin-top: 40px;
    min-width: 500px;
}
.paging{
    /*border: 1px solid lightgrey;*/
    width: 400px;
    /*padding: 5px;*/
    margin: 10px  auto 0px auto;
}

.find{
    width: 305px;
    /*padding: 5px;*/
    margin: 10px  auto 0px auto;
}

.loading{
    opacity: 0.1;
}
.navbar-nav a.active{
    color: #555555 !important;
    background-color: #e7e7e7 !important;
}
.hidden{
    display: none;
}
#main_load_indicator{
    margin-top: 230px;
}
#main_load_indicator > img {
    width: 110px;
}
#spinner{
    margin-top: 10px;
    height: 15px;
}
#spinner>img{
    width: 305px;
    height: 15px;
    z-index: 100;
}

#main_opacity{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    opacity: 0.3;
    background: #f5f5f5;;
    left: 0px;
    top: 0px;
    text-align: center;
}

.marging_top{
    margin-top: 10px;
}
a.link:hover{
    background-color:rgba(0,0,0,0) !important;
}

.btn_edit{
    top: 0;
    right: 0;
}
.align_left{
    text-align: left;
}
.user_info{
    padding: 3px;
}

.wight_100{
    width: 100%;
}
.btn_fixed{
    width: 80%;
   color: #00567e !important;
}

/*.row_info{*/
    /*padding: 5px 0px;*/
/*}*/

.row_info img {
  max-height: 50px;
}

.no_padding{
    padding: 0px!important;
}
#page{
    text-align: center;
}

#inpFind{
    text-align: center;
}

@media(max-width: 1090px){
    .shift_left_fr{
        left:4%
    }
}

.row_page{
    display: inline-block;
}
.row_page_btn{
    display: inline-block;
    padding-bottom: 20px;
}
label.error{
    display: block;
}

.word_wrap{
    word-wrap: break-word;
}
.field-group{
    margin-left: 3px!important;
}
.field-group>input{
    margin-right: 6px!important;
}

.field-group>span{
    top: -3px;
    position: relative;
}
.bordered{
  border: 1px solid lightgrey;
  border-radius: 10px;
}
.data_loading{
    width: 400px;
    padding: 5px;
    margin: 90px auto 0px auto;
}
/*.display_inline{*/
    /*display: inline-block!important;*/
/*}*/

#nav_bar{
    float:right!important;
}

.item label.control-label {
  padding-right: 0px !important;
}

.modal-body {
  color: #00567e !important;
}
.form-group input[type="checkbox"]{
    /*width: 10%;*/
    display: inline-block
}
.red{
    color: red;
}