body {
    padding: 8px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-width: 400px; /* Минимальная ширина контейнера */
}
/*.navbar-right .active{*/
    /*color: #00567e!important;*/
    /*font-weight: bold;*/
/*}*/

span{
   font-weight: bold;
}

input{
    border-radius: 0px !important;


}
.field{
    padding: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: bottom;

}
.line{

    height: 39px;
    line-height: 39px;
    vertical-align: middle;
    border-top: 1px solid darkgrey ;
}
.line:hover{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;

}
.form-title{
    font-weight: 200;
    display: block;
    font-size: 24px;
    margin: 0 0 8px;
}
.iphone-preview-wrap .iphone-outer-wrap {
    position: relative;
    margin: 0 17px;
    left: 2px;
    display: flex;
    flex-direction: column;
}
.iphone-preview-wrap .iphone-header {
    position: relative;
    display: block;
    margin-top: 74px;
    height: 30px;
    min-width: 100%;
    background: black;
}
.iphone-preview-wrap .campaign-message {
    display: block;
    border-left: 3px solid #d8241b;
    border-right: 3px solid #d8241b;
    font-size: 12px;
    font-weight: 300;
    margin: 0 10px;
    padding: 0 20px;
    word-wrap: break-word;
    text-align: center;
}
.iphone-preview-wrap .campaign-header {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    padding: 20px 10px 10px;
    word-wrap: break-word;
    width: 100%;
}
.iphone-preview-wrap .iphone-header .iphone-header-logo {
    position: absolute;
    height: 20px;
    left: 50%;
    top: 5px;
    margin-left: -90px;
}
.iphone-preview-wrap .campaign-logo>img {
    height: 100%;
    width: 100%;
    max-height: 100px;
}
.iphone-preview-wrap {
    position: relative;
    display: block;
    height: 500px;
    margin: 0 auto;
    width: 236px;
    background-image: url(/images/iPhone-preview-bg-cbf8d6d499bdab9c8d83b3ff3586799c.jpg);
}

.admin-body {
  background-color: #eeeeee;
  /*background-image: url(/images/logged-out-bg-gray-7cbba11ea4f901a66575a6e92edf0a31.jpg);*/
  /*background-size: cover;*/
  /*background-position: center top;*/
  /*background-attachment: fixed;*/
  color: #000000;
  min-width: 400px;


}

.login-body{
    background-image: url(/images/logged-out-bg-gray-7cbba11ea4f901a66575a6e92edf0a31.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}
.form-group{
    margin: 0 20 10 20px !important;
}

.login {
 /* box-shadow: 0 0 10px grey;
  border-radius: 5px;
  padding: 30px;

  background-color: #ffffff;*/
    margin-top: 10%;
    min-width: 350px;

    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);

}
.campaign-stats-wrap {
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #cccccc;
}
.campaign-stats-wrap .stat-block:nth-of-type(1) {
    border-left: 0;
}
.campaign-stats-wrap .stat-value {
    font-size: 48px;
    font-size: 3rem;
}
.campaign-stats-wrap .stat-label {
    font-size: 19.2px;
    font-size: 1.2rem;
}
.campaign-stats-wrap span {
    display: block;
    text-align: center;
}
.campaign-stats-wrap .stat-block:nth-of-type(1) {
    border-left: 0;
}
.campaign-stats-wrap .stat-block {
    border-left: 1px solid #cccccc;
}
.morris-hover.morris-default-style {
    border-radius: 10px;
    padding: 6px;
    color: #666;
    background: rgba(255,255,255,0.8);
    border: solid 2px rgba(230,230,230,0.8);
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}
.morris-hover {
    position: absolute;
    z-index: 1000;
}
.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: bold;
    margin: 0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point {
    white-space: nowrap;
    margin: 0.1em 0;
}
.box-shadow{
    box-shadow: 5px 5px 10px grey;
}

.registration {
  box-shadow: 0 0 10px grey;
  border-radius: 5px;
  padding: 30px;
  margin-top: 5%;
}

.registration .form-group label.error {
  position: absolute;
  font-size: 10px;
  color: red;
  left: 20;
  top: 35px;
}
.register:active{
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.registration .fileContainer {
  overflow: hidden;
  position: relative;
  background: #e6e6e6;
  border-radius: .5em;
  padding: .5em;
  margin-top: 0px !important;
}

.registration .fileContainer [type=file] {
  cursor: pointer;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.registration #spanupload {
  /*font-size: 16px;*/
  overflow: hidden;
  padding: 7px 0px;
}
.registration #uploadbtn {
  float: right;
}
.registration .avatar {
  width: 100%;
  padding: 10px 0px 0px;
}
.registr{
    margin-left: 10px;
}
.marging_bott{
    marging-bottom: 3px!important;
}
.profile #avatar {
  height: 200px;
  padding: 40px 0px 15px;
}
.changebtn{
    width: 145px;
}
.profile .fileContainer {
  overflow: hidden;
  position: relative;
  background: #e6e6e6;
  border-radius: .5em;
  padding: .5em;
  margin-top: 0px !important;
}

.profile .fileContainer [type=file] {
  cursor: pointer;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.profile #spanupload {
  /*font-size: 16px;*/
  overflow: hidden;
  padding: 7px 0px;
}
.profile #uploadbtn {
  float: right;
}

.profile .button-profile input {
  width: 100%;
}

.profile .title-pass {
  padding: 15px 25px 0px;
  color: grey;
}
.assoc .title{
    color: grey;
    margin-top: 20px;
}

.goToLogin{
    margin-left: 10px;
}
.profile .form-group label.error {
  position: absolute;
  font-size: 10px;
  color: red;
  left: 20;
  top: 35px;
}
.bnt-default>img{
   height: 50px;
}
.fb{
    background: url(../img/facebook.png) no-repeat 0 0
}

.align_center{
    text-align: center;
}
.float_right{
    float: right;
}
.form-horizontal .control-label {
    text-align: left;
}
#send{
    cursor: pointer;
}
a{
  cursor: pointer;
}

#name {
  width: 18%;
  float: left;
  display: block;
  cursor: pointer;
  height: 50px;
  background-color: #ffffff;
  /*margin-left: 95px !important;*/
  /*background-image: url('../images/logo.jpg');*/
  /*background-size: 10%;*/
}

#name img {
  height: 100%;
}

#inner-white {
  /*background-image: linear-gradient(to bottom, #b3e05f, #b3e05f);*/
  /*background-repeat: repeat-x;*/
  /*height: 62px;*/
}

.bar-icon {
  display: block;
  position: absolute;
  /*top: 10px;*/
  /*left: 15px;*/
  height: 40px;
  width: 40px;
  background-image: url(/images/bar-icon-logo.png);
  background-size: 40px 40px;
}

.navbar ul a, .navbar ul a:hover {
  color: #ffffff;
  cursor: pointer;
 /* background: none !important;*/
}
.error{
    color: red;
}
.admin-login-error{
    color: red;
    padding: 0 0 5px 22px;
}
