<!DOCTYPE html>
<html ng-app="adminApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Venutopia Admin</title>
    <link rel="stylesheet" href="../stylesheets/admin/admin.css">
    <link rel="stylesheet" href="../stylesheets/admin/style.css">
    <link rel="stylesheet" href="../stylesheets/admin/bootstrap.min.css">

    <script src="//api.filepicker.io/v1/filepicker.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/jquery-nicescroll/jquery.nicescroll.min.js"></script>
    <script src="/components/jcrop/js/jquery.Jcrop.min.js"></script>
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-resource/angular-resource.min.js"></script>
    <script src="/components/angular-route/angular-route.min.js"></script>
    <script src="/components/angular-cookies/angular-cookies.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/eventEmitter/EventEmitter.js"></script>
    <!--<script src="http://192.168.3.27:8080/target/target-script-min.js#anonymous"></script>-->
    <script src="/components/eventie/eventie.js"></script>
    <script src="/components/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/components/underscore/underscore.js"></script>
    <script src="/components/jquery-qrcode/jquery.qrcode.min.js"></script>
    <script src="/components/morris.js/morris.min.js"></script>
    <script src="/components/raphael/raphael.js"></script>
    <script src="/components/jquery.validation/dist/jquery.validate.min.js"></script>
    <script src="/js/admin/app.js"></script>
    <script src="/js/admin/controllers.js"></script>
    <script src="/js/admin/services.js"></script>
    <script src="/js/admin/directives.js"></script>
</head>
<!-- script(src='/js/admin/validate.js')-->
<body ng-controller="commonCtrl" class="admin-body">
<div role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div ng-controller="menuCtrl" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="container" style="width: 100%;">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/admin#/dashboard" class="navbar-brand">Venutopia</a>
                </div>
                <div style="height: 1px;" class="navbar-collapse navbar-ex1-collapse collapse">
                    <ul class="nav navbar-nav navbar-right float_right">
                        <li class="logs display_inline"><a ng-click="goTo('dashboard')" ng-class="{active: url=='dashboard'}">Dashboard</a></li>
                        <li class="logs display_inline"><a ng-click="goTo('campaigns')" ng-class="{active: url=='campaigns'}">Campaigns</a></li>
                        <li class="logs display_inline"><a ng-click="goTo('ratings')" ng-class="{active: url=='ratings'}" ng-show="admin.role=='Admin'">Ratings</a></li>
                        <li class="logs display_inline"><a ng-click="goTo('create-change-user')" ng-class="{active: url=='create-change-user'}" ng-show="admin.role=='Admin'">Users</a></li>
                        <!--<li><a href="#">Players</a></li>-->
                        <!--<li><a href="#">Ratings</a></li>-->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">{{admin.name}} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a ng-click="goTo('change-user/'+ admin._id)" ng-class="{active: url=='change-user'}">My Profile</a></li>
                                <li class="logout display_inline"><a href="/admin/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title-wrap row">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="container"  style="width: 100%;">
            <div class="row">

                <span class="page-title-text">{{span}}</span>
                <div ng-show="url=='dashboard'||url=='campaigns'" class="btn-group pull-right page-title-drop">
                    <button type="button" data-toggle="dropdown" class="btn btn-default">New Campaign</button>
                    <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                    <ul ng-controller="menuCtrl" class="dropdown-menu">
                        <li><a ng-click="goTo('keyboardwars/campaigns/new')">Keyboard Wars</a></li>
                        <!--li-->
                        <!--  a(ng-click = "goTo('quoteking/campaigns/new')") Quote King-->
                        <!--li-->
                        <!--  a(ng-click = "goTo('venutrivia/campaigns/new')") Venutrivia-->
                        <!--li-->
                        <!--  a(ng-click = "goTo('matching/campaigns/new')") Matching-->
                        <!--li-->
                        <!--  a(ng-click = "goTo('voting/campaigns/new')") Voting-->
                    </ul>
                </div>
                <div ng-show="url=='create-change-user'" class="btn-group pull-right page-title-drop">
                    <button type="button" ng-click="goTo('create-user')" class="btn btn-default">New User</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div ng-view class="container" style="width: 100%;"></div>
</div>
<div class="container" >
    <div class="row">
        <footer class="footer-wrap col-md-12">© Venutopia 2014. All Rights Reserved.
            <ul class="nav nav-pills pull-right">
                <li><a href="#" class="link">Privacy</a></li>
                <li><a href="#" class="link">Terms</a></li>
            </ul>
        </footer>
    </div>
</div>
</body>
</head>
</html>