<html ng-app="loginAdmin">
<head>
    <title>Venutopia Admin Login</title>
    <link rel="stylesheet" href="../stylesheets/admin/style.css"/>
    <link rel="stylesheet" href="../stylesheets/admin/bootstrap.min.css"/>
    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-resource/angular-resource.min.js"></script>
    <script src="/components/angular-route/angular-route.min.js"></script>
    <script src='/js/admin/loginAdmin.js'></script>
</head>
<body class="login-body" ng-controller="commonCtrl">

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
<div class="login col-xs-6 col-sm-6 col-md-6 col-lg-6" id="form">
    <!--<form id="loginform" action="/admin/login" method="post" class="form-horizontal">-->
        <div class="form-group"><span class="form-title">Welcome, please sign in.
          <input id="inputName" type="text" placeholder="Username" name="username" class="form-control" ng-model="user.name" ng-focus="errorName = false"/></span></div>
        <!-- .col-sm-1.col-md-1.col-lg-1-->
    <div class="admin-login-error" ng-show="errorName">{{errorName}}</div>

        <div class="form-group">
            <input id="inputPassword" type="password" placeholder="Password" name="password" class="form-control" ng-model="user.password" ng-focus="errorPassword= false"/>
            <!--a#forgot.forgot(href='/forgot') Forgot password?-->
        </div>
    <div class="admin-login-error" ng-show="errorPassword" id="adminLoginPassError">{{errorPassword}}</div>

        <!-- .col-sm-1.col-md-1.col-lg-1-->
        <div class="form-group">
            <input id="login" type="submit" value="Log In" class="btn btn-lg btn-primary btn-block btn-default" ng-click="onLogin()"/>
        </div>
    <div class="admin-login-error" ng-show="error">{{error}}</div>

    <!-- a.goToLogin(href='/auth/logout') Go to Login-->
    <!--</form>-->
</div>
</body>
</html>