<div class="footer">
    <div class="container">
        <p class="text">
            Keyboard Wars v<% include version.ejs %> - Created by <a href="http://c1oudbase.com" target="_self">c1oudbase.com</a>.<br>
            2014 &copy; Venutopia
        </p>
    </div>
</div>