<head>
    <meta charset="utf-8">
    <title>Venutopia Games</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Venutopia Games">
    <meta name="author" content="Robert Schmid, c1oudbase.com">

    <!-- Bootstrap core CSS -->
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Various other styles used -->
    <link href="/components/nanoscroller/bin/css/nanoscroller.css" rel="stylesheet">
    <link href="/components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- JS -->
    <script src="/components/angular/angular.min.js"></script>
    <script src="/components/angular-route/angular-route.min.js"></script>
    <script src="/components/angular-resource/angular-resource.min.js"></script>
    <script src="/components/jquery/dist/jquery.min.js"></script><!-- load jquery -->
    <script src="/components/jquery-nicescroll/jquery.nicescroll.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/underscore/underscore.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script src="/js/app/app.js"></script>
    <script src="/js/app/controllers.js"></script>
    <script src="/js/app/services.js"></script>
    <script src="/js/app/directives.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>