<!doctype html>
<html ng-app="app">

<!-- header -->
<% include head.ejs %>

<body ng-controller="CommonCtrl">

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <% include navbar.ejs %>
            <!-- START - page content -->
            <div ng-view></div>

        </div>
    </div>
</div>

<!-- Footer -->
<% include footer.ejs %>

</body>

</html>
