<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap 3 Test for iPhone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
    <!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
    <!--script src="js/less-1.3.3.min.js"></script-->
    <!--append ‘#!watch’ to the browser URL, then refresh the page. -->

    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/test.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Choose Game</a>
                        </li>
                        <li>
                            <a href="#">Replay</a>
                        </li>
                        <li>
                            <a href="#">Leaderboard</a>
                        </li>
                        <li>
                            <a href="#">Rate Game</a>
                        </li>
                        <li>
                            <a href="#">Logout</a>
                        </li>
                </div>

            </nav>
            <div class="jumbotron headline">
                <h2>
                    Choose Game
                </h2>
                <p>
                    Enter your gamepin below to start playing Keyboard Wars - Whoever types fastest wins.
                </p>
                <p>
                    <a class="btn btn-primary btn-sm" href="#">Click here for fun facts ...</a>
                </p>
            </div>
            <div class="input-group gamepin">
                <input id="pin" type="text" class="form-control" placeholder="Enter game pin ..."/>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <p class="text">
            Keyboard Wars v0.3.1 - Created by <a href="http://c1oudbase.com">c1oudbase.com</a>.<br>
            2014 &copy; Venutopia | <a href="">ContactUs</a> | <a href="">Privacy</a> | <a href="">Terms</a>
        </p>
    </div>
</div>
</body>
</html>