<div class="container workspace">
    <div class="row">
        <h2>2. Campaign Images</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form accept-charset="UTF-8" id="editform" class="form-horizontal create-campaign-form-wrap">

                <!--<script src="//api.filepicker.io/v1/filepicker.js"></script>-->
                <div class="campaignpic upload form-group">
                    <div filepicker path="/s3ServerPath/" pickerclass="btn btn-default" container="Mys3Bucket" multiple="true" mimetype="image/*" callback="setupCampaignPic(file)" multiple=false>Add Photo</div>
                    <!--<input id="campaign_campaign_pic" ng-model="campaign.pic" type="hidden" value="">-->
                    <!--<input class="btn" data-fp-apikey="AA5CHBPwQ8O6iqmHzjYAwz" data-fp-button-text="Add Your Logos" data-fp-mimetypes="image/*" ng-model="campaign.fp_url" ng-change="setupCampaignPic($event);" type="filepicker" style="display: none;">-->
                    <!--<button type="button" class="btn" ng-click>Add Your Logos</button>-->
                </div>

                <div class="row">
                    <div class="thumbpick" ng-show="thumbpick">
                        Choose thumbnail:
                        A thumbnail of logo to show around the site.
                        <div class="tabbable">
                            <ul class="nav nav-tabs">
                                <li><a href="#" data-toggle="tab" onclick="useCamapignPicForThumb();">Use Campaign Image </a></li>
                                <li><a href="#" data-toggle="tab" onclick="$('.pick_thumb_btn').click();">Use a Different Image</a></li>
                            </ul>
                            <input data-fp-apikey="AA5CHBPwQ8O6iqmHzjYAwz" data-fp-button-class="hide pick_thumb_btn" data-fp-button-text="Add Thumbnail" data-fp-mimetypes="image/*" name="campaign[fp_thumb_url]" onchange="setupCampaignThumb(event.fpfile);" type="filepicker" style="display: none;"><button type="button" class="hide pick_thumb_btn">Add Thumbnail</button>
                            <input id="thumb_x" name="thumb_x" type="hidden" value="">
                            <input id="thumb_y" name="thumb_y" type="hidden" value="">
                            <input id="thumb_width" name="thumb_width" type="hidden" value="">
                            <div class="row ">
                                <div class="col-md-12">
                                    <img src="about:blank" id="jcrop_target" jcrop />


                                    <!--<div>Thumbnail:</div>-->
                                    <!--<div style="width:100px;height:100px;overflow:hidden;margin-left:5px;">-->
                                        <!--<img src="about:blank" id="preview" style="hide">-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <input class="btn btn-default" name="commit" type="submit" value="Save" ng-click="saveImage()">

                </div>
            </form>
        </div>
        <img src="" id="jcrop_target"/>
        <div class="col-md-6">
            <div class="iphone-preview-wrap">
                <div class="iphone-outer-wrap">
                    <div class="iphone-header">
                        <img alt="Kbwars logo" class="iphone-header-logo" src="/images/kbwars-logo-32e1516cb2d7d12328f814264c6c5c19.png" />
                    </div>
                    <div class="campaign-logo">
                        <img id="campaign_pic_preview" src="{{pic_preview || campaign.image || '/images/no-sponsor-logo-311c59d0271642485af3ecff7145031e.gif'}}" />
                        <!--<img alt="No sponsor logo" src="/images/no-sponsor-logo-311c59d0271642485af3ecff7145031e.gif" ng-show="!campaign.image || !campaign.image.length">-->
                        <!--<img alt="Existing sponsor logo" id="campaign_img_preview" src="{{campaign.image}}" ng-show="campaign.image && campaign.image.length"/>-->
                        <!--<img alt="New sponsor logo" name="campaign_pic_preview" id="campaign_pic_preview" src="{{pic_preview}}" ng-show="pic_preview.length"/>-->
                        <!--{{pic_preview.length}}-->
                    </div>
                    <div class="campaign-header">
                        <span ng-show="campaign.sponsor && campaign.sponsor.length">
                            {{campaign.sponsor}}
                        </span>
                        <span ng-show="!campaign.sponsor || !campaign.sponsor.length">
                            · Sponsor Message ·
                        </span>
                    </div>
                    <div class="campaign-message">
                        <span ng-show="campaign.text && campaign.text.length">
                            {{campaign.text}}
                        </span>
                        <span ng-show="!campaign.text || !campaign.text.length">
                            Float like a Butterfly, Sting like a Bee, 1/2 the calories, all the G
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>