<div class="container workspace">
    <div class="row">
        <h2>Campaign Prizes</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form accept-charset="UTF-8" method="post" action="" class="form-horizontal create-campaign-form-wrap" id="edit_campaign" >
               <!-- <div style="margin:0;padding:0;display:inline">
                    <input name="utf8" type="hidden" value="✓">
                    <input name="_method" type="hidden" value="patch">
                    <input name="authenticity_token" type="hidden" value="skefAlovZCblVn0pFK8cXW5jVOy6x0GPPw/McRw7DNE=">
                </div>-->
                <input id="next_page" name="next_page" type="hidden" value="/keyboardwars/81">
                <input id="page" name="page" type="hidden" value="prizes">



                <div class="form-group">
                    <label>Title</label>
                    <input class="string optional form-control" id="campaign_prize_code_attributes_0_title" maxlength="255" name="campaign[prize_code_attributes][0][title]" placeholder="Congratulations!" size="50" type="text" ng-model="campaign.prize">
                </div>

                <div class="form-group">
                    <label>Instructions</label>
                    <input class="string optional form-control" id="campaign_prize_code_attributes_0_instructions" maxlength="255" name="campaign[prize_code_attributes][0][instructions]" placeholder="Use this code to redeem your prize:" size="50" type="text" ng-model="campaign.instructions">
                </div>

                <div class="form-group">
                    <label>Code</label>
                    <input class="string optional form-control" id="campaign_prize_code_attributes_0_code" maxlength="255" name="campaign[prize_code_attributes][0][code]" placeholder="ABC123" size="50" type="text" ng-model="campaign.code">
                </div>
                <!-- Uses <input class="numeric integer optional" id="campaign_prize_code_attributes_0_uses" name="campaign[prize_code_attributes][0][uses]" size="50" step="1" type="number" /><br/> -->


                <div class="form-group">
                    <input class="btn btn-default" name="commit" type="submit" value="Save" ng-click="create()">
                </div>
            </form></div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="iphone-preview-wrap">
                <div class="iphone-outer-wrap">
                    <div class="iphone-header">
                        <img alt="Kbwars logo" class="iphone-header-logo" src="/images/kbwars-logo-32e1516cb2d7d12328f814264c6c5c19.png">
                    </div>
                    <div class="campaign-logo">
                        <img src="{{campaign.image || '/images/no-sponsor-logo-311c59d0271642485af3ecff7145031e.gif'}}" id="campaign_pic_preview">
                        <!--<img alt="No sponsor logo" src="/images/no-sponsor-logo-311c59d0271642485af3ecff7145031e.gif" ng-show="!campaign.image || !campaign.image.length">-->
                        <!--<img alt="Existing sponsor logo" id="campaign_img_preview" src="{{campaign.image}}" ng-show="campaign.image && campaign.image.length"/>-->
                    </div>
                    <div class="campaign-header">
                        <span ng-show="campaign.sponsor && campaign.sponsor.length">
                            {{campaign.sponsor}}
                        </span>
                        <span ng-show="!campaign.sponsor || !campaign.sponsor.length">
                            · Sponsor Message ·
                        </span>
                    </div>
                    <div id="campaign_message" class="campaign-message">
                        <span ng-show="campaign.text && campaign.text.length">
                            {{campaign.text}}
                        </span>
                        <span ng-show="!campaign.text || !campaign.text.length">
                            Float like a Butterfly, Sting like a Bee, 1/2 the calories, all the G
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>