
<div class="container workspace">
    <div class="row">
        <h2>1. Campaign Info</h2><br>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form accept-charset="UTF-8" id="newGame" name="newGame" class="form-horizontal create-campaign-form-wrap" ng-show="campaignsName == 'keyboardwars'" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : newGame.title.$invalid }">
                    <label for="campaign_title" class="control-label">Campaign Title</label>
                    <input class="form-control" id="campaign_title" name="title" placeholder="ex. USF Baseball 12/23/2013 (required)" type="text" ng-minlength=3 ng-model="campaign.title" required>
                    <div class="error" ng-show="newGame.title.$error.required && !newGame.title.$pristine">This field is required.</div>
                    <div class="error" ng-show="newGame.title.$error.minlength">Title needs to be at least 3 characters long</div>
                </div>
                <div class="form-group">
                    <label for="campaign_sponsor" class="control-label">Sponsor</label>
                    <input class="form-control" id="campaign_sponsor" name="sponsor" placeholder="ex. Gatorade" type="text" ng-model="campaign.sponsor">
                </div>
                <div class="form-group" ng-class="{ 'has-error' : newGame.message.$invalid }">
                    <label for="campaign_template" class="control-label">Campaign Message</label>
                    <textarea class="form-control" id="campaign_template" name="message" maxlength="100" placeholder="What do you want users to type? (required)" rows="6" ng-model="campaign.text" required></textarea>
                    <div class="error" ng-show="newGame.message.$error.required && !newGame.message.$pristine">This field is required.</div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : newGame.code.$invalid }">
                    <label for="campaign_short_code" class="control-label">Game Pin</label>
                    <input class="form-control" id="campaign_short_code" name="code" type="text" placeholder="ex. GATORADE (required)" ng-model="campaign.pin" ng-focus="error = false" required>
                    <div ng-class="{'error': error}" ng-show="error">This pin already exist</div>
                    <div class="error" ng-show="newGame.code.$error.required  && !newGame.code.$pristine">This field is required.</div>
                </div>
                <div class="form-group">
                    <input class="btn btn-default" type="submit" name="enter" value="Save & Continue" ng-click="create()" ng-disabled="newGame.$invalid">
                </div>
            </form>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="iphone-preview-wrap">
                <div class="iphone-outer-wrap">
                    <div class="iphone-header">
                        <img alt="Kbwars logo" class="iphone-header-logo" src="/images/kbwars-logo-32e1516cb2d7d12328f814264c6c5c19.png">
                    </div>
                    <div class="campaign-logo">
                        <img alt="No sponsor logo" class="iphone-header-logo" src="{{campaign.image || '/images/no-sponsor-logo-311c59d0271642485af3ecff7145031e.gif'}}">
                        <!--<img alt="No sponsor logo" src="/images/no-sponsor-logo-311c59d0271642485af3ecff7145031e.gif" ng-show="!campaign.image || !campaign.image.length">-->
                        <!--<img alt="Existing sponsor logo" id="campaign_img_preview" src="{{campaign.image}}" ng-show="campaign.image && campaign.image.length"/>-->
                    </div>
                    <div class="campaign-header">
                        <span ng-show="campaign.sponsor && campaign.sponsor.length">
                            {{campaign.sponsor}}
                        </span>
                        <span ng-show="!campaign.sponsor || !campaign.sponsor.length">
                            · Sponsor Message ·
                        </span>
                    </div>
                    <div id="campaign_message" class="campaign-message">
                        <span ng-show="campaign.text && campaign.text.length">
                            {{campaign.text}}
                        </span>
                        <span ng-show="!campaign.text || !campaign.text.length">
                            Float like a Butterfly, Sting like a Bee, 1/2 the calories, all the G
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>