<div class="container workspace">
    <div class="row">
        <form accept-charset="UTF-8" id="userForm" name="userForm" action="" class="form-horizontal create-campaign-form-wrap" novalidate>
            <div class="col-sm-6">
                <div class="row">
                    <h2>Username & Password</h2><br>
                </div>
                <div class="col-sm-8">
                    <div class="form-group" ng-class="{ 'has-error' : userForm.userName.$invalid }">
                        <input class="form-control" ng-focus="errorName=false" name="userName" placeholder="Input email address (required)" type="email" ng-model="newUser.name" required >
                        <div ng-class="{'error': errorName}" ng-show="errorName">{{errorName}}</div>
                        <div class="error" ng-show="userForm.userName.$error.required && !userForm.userName.$pristine">This field is required.</div>
                        <div class="error" ng-show="userForm.userName.$invalid && !userForm.userName.$pristine">Enter a valid email</div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid }">
                        <input class="form-control" name="password" placeholder="Enter password (required)" type="Password" ng-minlength=6 ng-model="newUser.password" required>
                        <div class="error" ng-show="userForm.password.$error.required && !userForm.password.$pristine"">This field is required.</div>
                        <div class="error" ng-show="userForm.password.$error.minlength">Password needs to be at least 6 characters long</div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : userForm.rePassword.$invalid }">
                        <input class="form-control" ng-focus="error=false" type="password" name="rePassword" placeholder="Re-enter Password (required)" ng-model="newUser.rePassword" required>
                        <div ng-class="{'error': error}" ng-show="error">{{error}}</div>
                        <div class="error" ng-show="userForm.rePassword.$error.required && !userForm.rePassword.$pristine">This field is required.</div>
                    </div>
                    <div class="form-group" >
                        <div class="radio col-sm-3">
                            <label>
                                <input type="radio" value="Admin" ng-model="newUser.role">
                                Admin
                            </label>
                        </div>
                        <div class="radio col-sm-3">
                            <label>
                                <input type="radio" value="User" ng-model="newUser.role">
                                User
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="isInactive" ng-model="newUser.isInactive"> Inactive?
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <h2>User Details</h2><br>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <input class="form-control" id="firstname" name="firstname" placeholder="Input firstname" type="text" ng-model="newUser.firstname">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="lastname" name="lastname" placeholder="Input lastname" type="text" ng-model="newUser.lastname">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="company" name="company" placeholder="Input company" type="text" ng-model="newUser.company">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <input class="btn btn-default" type="submit" name="enter" value="Add" ng-click="createUser()" ng-disabled>
                </div>
            </div>
        </form>
    </div>
</div>