<div class="row workspace">
    <div class="panel panel-default panel-dark">
        <div class="panel-heading">
            <h3 class="panel-title">All users</h3>
        </div>
        <div class="panel-body">

            <div id="campaign-list">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 field"><span>Inactive?</span></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 field"><span>Email</span></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 field"><span>Name</span></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 field"><span>Company</span></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 field"><span>Role</span></div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 field"><span>Last Updated</span></div>
                <br>

                <div  ng-repeat="user in adminListUsers">
                    <div class="line">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 field" ><input type="checkbox" disabled="true" name="favoriteColors" ng-model="user.isInactive"></div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 field" >{{user.name}}</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 field">{{user.firstname}} {{user.lastname}}</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 field">{{user.company}}</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 field">{{user.role}}</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 field">{{user.updatedAt | date:'yyyy-MM-dd'}}</div>
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 field"><a href="/admin#/change-user/{{user._id}}">Edit</a> | <a href="" ng-click="onUserDelete(user._id)">Del</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>