<div class="row workspace">
    <div class="panel panel-default panel-dark">
        <div class="panel-heading">
            <h3 class="panel-title">All Campaigns</h3>
        </div>
        <div class="panel-body">

            <div id="campaign-list">
                <div class="col-xs-2 field"><span>Date</span></div>
                <div class="col-xs-2 field"><span>Product</span></div>
                <div class="col-xs-2 field"><span>Title</span></div>
                <div class="col-xs-2 field"><span>Sponsor</span></div>
                <div class="col-xs-1 field"><span>Gamepin</span></div>
                <div class="col-xs-1 field"><span>Status</span></div>
                <div class="col-xs-2 field"><span>Stats</span></div>
                <br>

                <div  ng-repeat="dashboard in items">
                    <div class="line">
                        <div class="col-xs-2 field" >{{dashboard.date}}</div>
                        <div class="col-xs-2 field">{{dashboard.tool}}</div>
                        <div class="col-xs-2 field">{{dashboard.title}}</div>
                        <div class="col-xs-2 field">{{dashboard.sponsor}}</div>
                        <div class="col-xs-1 field">{{dashboard.pin}}</div>
                        <div class="col-xs-1 field">
                            <span class="btn btn-success btn-xs" ng-show="dashboard.status">Running</span>
                            <span class="btn btn-danger btn-xs" ng-hide="dashboard.status">Stopped</span>
                        </div>
                        <div class="col-xs-2 field">
                            <a href="/admin#/stats/{{dashboard._id}}">View Stats</a> |
                            <a href="/admin#/keyboardwars/campaigns/edit/{{dashboard._id}}">Edit</a> |
                            <a href="" ng-click="onDelCampaign(dashboard._id)">Del</a>
                        </div>

                    </div>
                </div>
           </div>
        </div>
    </div>
</div>