<div ng-repeat="game in items | filter:mainsearch" class="item ">

    <div ng-hide="game.editing">
        <div class="row user_info">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 align_left">
                <div class="row row_info" >
                    <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">user:</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" >
                        <div class="row row_info" >
                            <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">username:</label>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <span class="word_wrap">{{game.user.username}}</span>
                            </div>
                        </div>
                        <div class="row row_info" >
                            <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">email:</label>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <span class="word_wrap">{{game.user.email}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row_info" >
                    <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">sponsor:</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" >
                        <div class="row row_info" >
                            <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">image:</label>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <img src="{{game.campaign.image}}" />
                            </div>
                        </div>
                        <div class="row row_info" >
                            <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">name:</label>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <span class="word_wrap">{{game.campaign.name}}</span>
                            </div>
                        </div>
                        <div class="row row_info" >
                            <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">text:</label>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <span class="word_wrap">{{game.campaign.text}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row_info">
                    <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">score:</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <span class="word_wrap">{{game.score}}</span>
                    </div>
                </div>
                <div class="row row_info" >
                    <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">time:</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <span class="word_wrap">{{game.time}}</span>
                    </div>
                </div>
                <div class="row row_info">
                    <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">error:</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <span class="word_wrap">{{game.campaign.text.length - game.result.length}}</span>
                    </div>
                </div>
                <div class="row row_info">
                    <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">date:</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <span class="word_wrap">{{game.createdAt}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button class="btn_fixed btn btn-default" ng-click="showConfirmForDel(game)">Delete</button>
            </div>
        </div>
    </div>
</div>