<div class="row workspace">
    <div class="panel panel-default panel-dark">
        <div class="panel-heading">
            <h3 class="panel-title">All Ratings</h3>
        </div>
        <div class="panel-body">

            <div id="campaign-list">
                <div class="col-xs-2 field"><span>Date</span></div>
                <div class="col-xs-2 field"><span>Username</span></div>
                <div class="col-xs-2 field"><span>Value</span></div>
                <div class="col-xs-6 field"><span>Comments</span></div>
                <br>

                <div  ng-repeat="rating in ratings">
                    <div class="line">
                        <div class="col-xs-2 field" >{{rating.date}}</div>
                        <div class="col-xs-2 field">{{rating.name}}</div>
                        <div class="col-xs-2 field">
                            <span class="btn btn-success btn-xs" ng-show="rating.value==4" style="width: 100px">4 Love It</span>
                            <span class="btn btn-success btn-xs" ng-show="rating.value==3" style="width: 100px">3 Like It</span>
                            <span class="btn btn-warning btn-xs" ng-show="rating.value==2" style="width: 100px">2 Dont' Like It</span>
                            <span class="btn btn-danger btn-xs" ng-show="rating.value==1" style="width: 100px">1 Just Bad</span>
                        </div>
                        <div class="col-xs-6 field">{{rating.comments}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>