<div ng-repeat="sponsor in items | filter:mainsearch" class="item ">

    <div ng-hide="sponsor.editing">
        <div class="row user_info">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 align_left">
                <div class="row row_info" >
                    <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">image:</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <img src="{{sponsor.image}}" />
                    </div>
                </div>
                <div class="row row_info" >
                    <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">name:</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <span class="word_wrap">{{sponsor.name}}</span>
                    </div>
                </div>
                <div class="row row_info" >
                    <label class="control-label col-xs-3 col-sm-3 col-md-3 col-lg-3">text:</label>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <span class="word_wrap">{{sponsor.text}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 align_center">
                <!--<div class="row">-->
                    <!--<button class="btn_fixed btn btn-default" ng-click="onEdit(sponsor)">Edit</button>-->
                <!--</div>-->
                <!--<div class="row marging_top">-->
                <button class="btn_fixed btn btn-default" ng-click="showConfirmForDel(sponsor)">Delete</button>
                <!--</div>-->
            </div>
        </div>
    </div>

</div>