<!--<script src='../../js/admin/grafic.js'></script>-->

<script src='../../js/admin/qrcode.js'></script>
<div class="container">

    <div class="row campaign-overview-topbar">
        <div class=" workspace">
            <div class="col-md-12">
                <a class="btn btn-default col-xs-6 col-sm-6 col-md-2 col-lg-2" href="/admin#/keyboardwars/campaigns/edit/{{campaignsId}}" >Edit this campaign</a>
                <a class="btn btn-default col-xs-6 col-sm-6 col-md-3 col-lg-2" href="/admin#/keyboardwars/campaigns/prizes/{{campaignsId}}">Customize Prize Email</a>
                <!--<a href="" class="btn btn-default col-xs-6 col-sm-6 col-md-3 col-lg-3">Preview Campaign Screens</a>-->
                <!--<a href="" class="btn btn-default col-xs-6 col-sm-6 col-md-2 col-lg-2">Presentation View</a>-->
	  <span class="pull-right">
	      <a class="btn btn-success" href="" ng-hide="campaign.status" ng-click="changeStatus()">Start Campaign</a>
          <a class="btn btn-danger" href="" ng-show="campaign.status" ng-click="changeStatus()">Stop Campaign</a>
	  </span>

                <p id="notice"></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 workspace">
            <div class="panel panel-default panel-dark">
                <div class="panel-heading">
                    <h3 class="panel-title">Overview</h3>
                </div>
                <div class="panel-body">

                    <div class="row campaign-stats-wrap">
                        <div class="stat-block col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <span class="stat-value">{{players}}</span>
                            <span class="stat-label">Players</span>
                        </div>
                        <div class="stat-block col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <span class="stat-value">{{submissions}}</span>
                            <span class="stat-label">Submissions</span>
                        </div>
                        <div class="stat-block col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <span class="stat-value">{{avg.toFixed(0)}}</span>
                            <span class="stat-label">Avg Submissions / Player</span>
                        </div>
                        <div class="stat-block col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            <span class="stat-value">0</span>
                            <span class="stat-label">Social Shares</span>
                        </div>
                    </div>
                    <div class="row">
                        <div id="myfirstchart" class="col-xs-12" style="height: 350px; position: relative; overflow: hidden;">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class=" workspace">
            <div class="col-md-6">

                <div class="panel panel-default panel-dark">
                    <div class="panel-heading">
                        <h3 class="panel-title">Details</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Title</td>
                                <td >{{campaign.title}}</td>
                            </tr>
                            <tr>
                                <td>Sponsor</td>
                                <td>{{campaign.sponsor}}</td>
                            </tr>
                            <tr>
                                <td>Message</td>
                                <td>{{campaign.text}}</td>
                            </tr>
                            <tr>
                                <td>Pin</td>
                                <td>{{campaign.pin}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default panel-dark">
                    <div class="panel-heading">
                        <h3 class="panel-title">All Campaigns</h3>
                    </div>
                    <div class="panel-body">


                        <table class="table">
                            <thead>
                            <tr>
                                <th>QR Code</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                     <div id="qrcodeholder"> </div>
                                </td>
                                <td>
                                    <a class="btn btn-block" href="http://advertype-dev.herokuapp.com/qr/123.svg"
                                       target="_blank">Open QR In New Tab</a>
                                    <a data-toggle="modal" href="#email_link" class="btn btn-block">Send In Email</a>

                                    <div id="email_link" class="modal" style="display: none;">
                                        <form accept-charset="UTF-8" action="/keyboardwars/email"
                                              enctype="multipart/form-data"
                                              html="{:method=>:post, :class=>&quot;form-horizontal&quot;}"
                                              method="post">
                                            <div style="margin:0;padding:0;display:inline"><input name="utf8"
                                                                                                  type="hidden"
                                                                                                  value="✓"><input
                                                    name="authenticity_token" type="hidden"
                                                    value="skefAlovZCblVn0pFK8cXW5jVOy6x0GPPw/McRw7DNE="></div>
                                            <input id="campaign_id" name="campaign_id" type="hidden" value="81">
                                            <input id="product_id" name="product_id" type="hidden" value="1">

                                            <div class="modal-header">
                                                <a class="close" data-dismiss="modal">×</a>

                                                <h3>Send Email</h3>
                                            </div>
                                            <div class="modal-body">
                                                <div>
                                                    <label for="email">Email:</label>
                                                    <input id="email" name="email" placeholder="someone@example.com"
                                                           type="email">
                                                </div>
                                                <div>or</div>
                                                <div>
                                                    <label for="file">CSV File (one email per line): </label> <input
                                                        id="file" name="file" type="file">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <input class="btn disable-me" name="commit" onclick="submitForm();"
                                                       rep_value="Sending..." type="submit" value="Send ">
                                                <a class="btn" data-dismiss="modal" href="#">Close</a>
                                            </div>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 workspace">
            <div class="panel panel-default panel-dark">
                <div class="panel-heading">
                    <h3 class="panel-title">Players</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="campaign-list">
                        <thead>
                        <tr>
                            <td>Rank</td>
                            <td>Score</td>
                            <td>Submissions</td>
                            <td>Username</td>
                            <td>Prizes Received</td>
                            <td>Send Prize:</td>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users">
                                <td>{{$index+1}}</td>
                                <td>{{user.score.toFixed(2)}}</td>
                                <td>{{user.submissions}}</td>
                                <td>{{user.name}}</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
