@font-face {
  font-family: 'fontello';
  src: url('http://staging.venutopia.com/font/fontello.eot?53612657');
  src: url('http://staging.venutopia.com/font/fontello.eot?53612657#iefix') format('embedded-opentype'),
       url('http://staging.venutopia.com/font/fontello.woff?53612657') format('woff'),
       url('http://staging.venutopia.com/font/fontello.ttf?53612657') format('truetype'),
       url('http://staging.venutopia.com/font/fontello.svg?53612657#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?53612657#fontello') format('svg');
  }
}
*/



    [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-attention:before { content: '\e808'; } /* '' */
.icon-cw:before { content: '\e804'; } /* '' */
.icon-users-outline:before { content: '\e806'; } /* '' */
.icon-th:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e800'; } /* '' */
.icon-clock-circled:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */

