html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;

    background-image: url(/images/bg-fans3.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #ffffff;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.headline {
    border: 2px solid rgba(255,255,255,0.8);
    background-color: rgba(255,255,255,0.4);
}

.jumbotron {
    padding:  10px 30px 10px 30px;
}

.jumbotron h1 {
    font-size: 2em;
}

.jumbotron h2 {
    font-size: 1.7em;
}

.jumbotron p {
    font-size: 1.3em;
}

.jumbotron .btn {
    padding: 0.5em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: rgba(255,255,255,0.3);
}

.footer .text {
    margin-top: 15px;
    text-align: center;
    color: #999999;
    font-size: 0.8em;
}

.logo {
    width: 35px;
    height: 35px;
    margin: -6px 10px 0px;
}

.correct {
    color: #ffffff;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

.error {
    color: red !important;
    text-decoration: line-through !important;
}

.form-error {
    margin-top: 10px;
    color: red !important;
}

.social-button {
    width: 40px;
}

.text-small {
    font-size: 1em;
}

.play .headline {
    margin: 0 0 5px;
    text-align: center;
    text-transform: uppercase;
    color: #CCCCCC;
    font-weight: 600;
    font-size: 1.3em;
}

.timer {
    float: left;
    font-weight: 200;
    font-size: 1.3em;
    line-height: 2em;
}

.slogo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.slogo img {
    max-width: 100%;
}

.message {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-style: italic;
}

.scolor {
    color: #ffffff;
}

.position {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.0em;
    font-weight: 600;
    color: rgba(255,214,65,1);
}

.stats {
    text-align: center;
    width: 100%;
    margin: 10px 0;
}

.stats .value {
    border-bottom: 1px solid;
    font-size: 1.2em;
    padding-bottom: 5px;
    font-weight: bold;
}

.stats .value .red {
    border-bottom: 1px solid red;
}

.stats .value .green {
    border-bottom: 1px solid #00FF00;
}

.stats .desc {
    padding-top: 5px;
    font-size: 1.0em;
}

.lb-list {
    width: 100%;
    color: #ffffff;
    line-height: 1em;
    padding: 0 5px;
    list-style: none;
    font-size: 0.9em;
}

.lb-list .item {
    padding: 10px;
    border-bottom: 2px solid #FFFFFF;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;   /* Height of the footer */
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    line-height: 50px;
    margin-top: 30px;
}

.push_left {
    float: left;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 5px
}

.push_right {
    float: right;
    margin-right: 5px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.green {
    color: #00FF00;
}

.red {
    color: red;
}

.presentedby {
    font-size: 1.0em;
    text-align: right;
}

.nano { background: #bba; width: 500px; height: 500px; }
.nano .nano-content { padding: 10px; }
.nano .nano-pane   { background: #888; }
.nano .nano-slider { background: #111; }

.login-block {
    padding: 20px;
    align-content: center;
}

.absolute-center {
    height: 400px;
    width: 310px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.login .logo {
    width: 170px;
    height: 170px;
    margin: 0 auto;
}

.login .logo img {
    width: 100%;
}

.login .button {
    margin: 10px;
}

.login .button a {
    width: 250px;
}

.arrow {
    background: rgba(255, 0, 0, 0.1);
    border-color: red;
}

.arrow img {
    width: 20px;
}

.white-background {
    background: rgba(255,255,255,0.3);
}