html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;

    background-image: url(/images/bg-fans3.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #ffffff;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.headline {
    border: 2px solid rgba(255,255,255,0.8);
    background-color: rgba(255,255,255,0.4);
}

.gamepin {
    margin-bottom: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: rgba(255,255,255,0.3);
}

.footer .text {
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
    font-size: 0.8em;
}
