<div class="jumbotron headline">
    <h2>
        Contact Us
    </h2>
    <p>
        For any questions, support or with problems, please email us to <a href="mailto:support@ventutopia.com">support@venutopia.com</a>
    </p>
    <p>
        <a class="btn btn-primary btn-sm" href="http://venutopia.com" target="_self">Click here for more fun games ...</a>
    </p>
</div>