<div class="jumbotron headline">
    <h2>
        <span class="fa fa-smile-o"></span> Fun Facts
    </h2>
    <p>
        <ol>
            <li>If you score a “100%” playing Keyboard Wars your typing speed and accuracy
                is equivalent to the fastest texter in the world. (Marco Filho - Brazil)</li>
            <li>David Prouse (the man inside the Darth Vader suit in Star Wars) spoke all
                of his lines in the first movie. He did not know that his voice was being
                dubbed over with that of James Earl Jones until he saw the finished movie.</li>
            <li>The three best-known western names in China: Jesus Christ, Richard Nixon,
                and Elvis Presley.</li>
            <li>M&M’s stands for the names of Forrest Mars, Sr., the candymaker and his
                associate Bruce Murrie.</li>
            <li>Smokey The Bear’s original name was Hotfoot Teddy.</li>
            <li>Iceland consumes more Coca-Cola per capita than any other nation.</li>
            <li>Gum on postage stamps have from two to eight calories.</li>
            <li>Two-thirds of the world’s eggplant is grown in New Jersey.</li>
            <li>Five Jell-O flavors that flopped: celery, coffee, cola, apple, and chocolate.</li>
            <li>80% of people eat their corn on-the-cob in circles rather than side to side.</li>
        </ol>
    </p>
</div>