<div class="jumbotron headline">
    <h2>
        <span class="fa fa-thumb-tack"></span> Start Game
    </h2>
    <p>
        Enter gamepin below to play Keyboard Wars. Fastest typer wins.
    </p>
</div>
<form accept-charset="UTF-8" id="gamepinForm" name="gamepinForm" class="form-horizontal create-campaign-form-wrap" novalidate>
    <div class="input-group input-group-lg" ng-class="{ 'has-error' : gamepinForm.pin.$invalid }">
        <span class="input-group-addon arrow">
            <img src="/images/arrow.gif"/>
        </span>
        <input id="pin" name="pin" type="text" class="form-control" placeholder="Enter gamepin ..." ng-class="{error: error}" ng-focus="error=false" ng-model="pin" ng-keypress="enter($event)" required/>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="checkPin()" ng-disabled="gamepinForm.$invalid">Go</button>
        </span>
    </div>
    <div ng-class="{'form-error': error}" ng-show="error">Game with this pin not found</div>
</form>
<div class="push_left">
    <a type="button" class="btn btn-default left" href="#/funfacts">
        <span class="fa fa-smile-o"></span> Click here for fun facts ...
    </a>
</div>
