<div class="jumbotron headline">
    <h2><span class="fa fa-bar-chart-o"></span> The Top 10</h2>
    <div class="presentedby">
        Presented by <b>{{campaign.sponsor}}</b><br>
    </div>
</div>
<div class="position text-center">You are {{myResult.rank}} overall!</div>
<div class="stats">
    <ul class="lb-list">
        <li class="item" ng-repeat="item in users|limitTo:10">
            <div class="row">
                <div class="col-xs-6" style="text-align: left">
                    #{{$index + 1}} {{item.name}}
                </div>
                <div class="col-xs-6" style="text-align: right;">
                    <span class="glyphicon glyphicon-time"></span>{{item.time.toFixed(1)}}s
                    <span class="red"><span class="glyphicon glyphicon-exclamation-sign"></span>{{item.error}}</span>
                    <span class="green">{{(item.score).toFixed(0)}}%</span>
                </div>
            </div>
        </li>
    </ul>
</div>
<div>
    <div class="push_left">
        <a type="button" class="btn btn-primary left" href="#">
            <span class="fa fa-thumb-tack"></span> Start New Game
        </a>
    </div>
    <div class="push_right">
        <a type="button" class="btn btn-primary right" href="#/play/{{campaign.pin}}">
            <span class="fa fa-repeat"></span> Play Again
        </a>
    </div>
</div>