<div class="jumbotron headline">
    <h2>
        <span class="fa fa-user"/> My Profile
    </h2>
    <p>
        <form name="userForm" class="form-horizontal" role="form" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : userForm.userName.$invalid }">
                <label for="userName" class="control-label">My Name</label>
                <input class="form-control" ng-focus="errorname=false" id="userName" name="userName" placeholder="Enter your name (required)" ng-model="user.username" required >
                <div ng-class="{'form-error red': errorname}" ng-show="errorname">{{errorname}}</div>
                <div class="form-error" ng-show="userForm.userName.$error.required && !userForm.userName.$pristine">This field is required.</div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : userForm.userEmail.$invalid }">
                <label for="userEmail" class="control-label">My Email</label>
                <input class="form-control" id="userEmail" name="userEmail" placeholder="Enter your email (required)" type="email" ng-model="user.email" required >
                <div class="form-error" ng-show="userForm.userEmail.$error.required && !userForm.userEmail.$pristine">This field is required.</div>
                <div class="form-error" ng-show="userForm.userEmail.$invalid && !userForm.userEmail.$pristine">Enter a valid email</div>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" name="enter" value="Update" ng-disabled="userForm.$invalid" ng-click="updateProfile()">
            </div>
        </form>
    </p>
    <p style="font-size: 1em;">
        NOTE - We use this info for leaderboards and prize notifications. Fore more details, see our <a href="#/privacy">Privacy Policy</a>
    </p>
</div>