<div class="jumbotron headline">
    <h2><span class="fa fa-child"/> Game Result</b></h2>
    <p>
        Good try, you are still ranked.<br>
    <div class="presentedby">
        Presented by <b>{{game.campaign.sponsor}}</b>
    </div>
    </p>
</div>
<div class="position text-center">You are {{myPosition}} overall!</div>
<div class="message">
    <span ng-repeat="symbol in resultArr track by $index" ng-class="{incorrect: !symbol.correct, error: symbol.error}" class="correct">{{symbol.name}}</span>
</div>
<div class="row stats">
    <div class="col-xs-4">
        <div class="value">{{game.time.toFixed(2)}} s</div>
        <div class="desc">Time</div>
    </div>
    <div class="col-xs-4">
        <div class="value red">{{game.errorSymbol.length + game.campaign.text.split('').length - game.result.length}}</div>
        <div class="desc red">Errors</div>
    </div>
    <div class="col-xs-4">
        <div class="value green">{{game.score.toFixed(0)}}%</div>
        <div class="desc green">Score</div>
    </div>
</div>
<div>
    <div class="push_left">
        <a type="button" class="btn btn-primary left" href="#/leaderboard/{{game.campaign._id}}">
            <span class="fa fa-bar-chart-o"></span> Leaderboard
        </a>
    </div>
    <div class="push_left">
        <div class="btn-group">
            <a type="button" class="btn btn-primary social-button"><span class="fa fa-facebook"></span></a>
            <a type="button" class="btn btn-danger social-button"><span class="fa fa-google-plus"></span></a>
            <a type="button" class="btn btn-info social-button"><span class="fa fa-twitter"></span></a>
        </div>
    </div>
    <div class="push_right">
        <a type="button" class="btn btn-primary right" href="#/play/{{game.campaign.pin}}">
            <span class="fa fa-repeat"></span> Play Again
        </a>
    </div>
</div>
